.game-card {
  /* position: relative; */
}

.game-card-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  padding-inline: 16px;
  background-color: hsl(var(--nextui-content2));

  padding: 16px;
  width: 100%;
  border-radius: var(--nextui-radius-small);
  /* position: absolute; */
  z-index: 99;
  /* top: 80%; */
  opacity: 0;
  /* display: hidden; */
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.game-card:hover .game-card-footer {
  /* top: 94%;
  opacity: 1; */
}
